body{
    background-color:#0b0a0aeb;
}
.calculator_container{
    width: 100%;
    height: 108%;
    display: flex;
    margin: 0%;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: transparent;
    background-size:cover;

}
.calculator_i {
    background-color: #000;
    border-radius: 20px;
    padding: 5px;
    margin: 25px;
    
    box-shadow: 1px 0.5px 1px 3px rgb(244, 242, 242),
                5px 5px  rgba(0, 0, 0, 0);
}


.calculator_input_display{
    width: 288px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#calculator_input_Number_Previews{
    width: 275px;
    height:100%;
    outline:none;
    background-color:#000;
    border:none;
    color:#fff;
    font-size:20px;
    overflow-y:hidden;
    text-align: right;
    resize:none;
    display:flex;
    flex-direction: row-reverse;
    padding:30px 0px 0px 0px ;
    color:#dbd8d3;

}
#calculator_input_Number{
    width: 275px;
    height: 100px;
    outline:none;
    background-color:#000;
    color:#fff;
    border:none;
    font-size: 40px;
    overflow-y: hidden;
    text-align: right;
    resize: none;
}

/**button design ***********/
.calculator_button{
    display: flex;
    flex-direction:row;
}

.calculator_button_left3_Top{
    display: flex;
    flex-direction: row;
}

/*** button size all  using multiple classes ****/
.calculator_button_FixedSize_Top,
.calculator_button_Fixedsize_Number,
.calculator_button_FixedSize_bottom,
.calculator_button_FixedSize_Orange{
    width: 60px;
    height: 60px;
    border-radius:60px;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content: center;
    font-size: 25px;
    margin:5px;
    

}



/****color give to button**********/
.calculator_button_FixedSize_Top{
    background-color: rgb(224,240,255);
}
.calculator_button_Fixedsize_Number{
    background-color: rgb(145,145,145);
}
.calculator_button_FixedSize_bottom{
    background-color:rgb(145,145,145);

}
.calculator_button_FixedSize_Orange{
    background-color:orange;
    color:#fff;
    font-size: 30px;
}




.calculator_button_left_Number{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 218px;
    color:rgb(26, 24, 24);
}
.calculator_button_left3_bottom{
    display: flex;
    flex-direction: row;
    color:rgba(24, 21, 21, 0.16);
}
#calculator_button_FixedSize_bottom_zero{
    width: 130px;
    align-items: left;
    text-align: left;
}
.calculator_button_Right{
    display: flex;
    flex-direction: column;
}
